### College Scorecard Data Dictionary Parsing

In [3]:
import pandas as pd
from pathlib import Path

#### Load Data Dictionary Excel File

In [4]:
dict_path = Path("../data/raw/CollegeScorecardDataDictionary.xlsx")
xls = pd.ExcelFile(dict_path)
print("Available sheets:", xls.sheet_names)

Available sheets: ['README', 'ChangeLog', 'Glossary', 'Institution_Data_Dictionary', 'Institution_Cohort_Map', 'Most_Recent_Inst_Cohort_Map', 'FieldOfStudy_Data_Dictionary', 'FieldOfStudy_Cohort_Map']

#### Load Institution_Data_Dictionary sheet

In [32]:
sheet_name = "Institution_Data_Dictionary"

inst_dict = pd.read_excel(dict_path, sheet_name=sheet_name)
inst_dict.head()

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,INDEX,VARIABLE NAME,VALUE,LABEL,SOURCE,SHOWN/USE ON SITE,NOTES
0,Unit ID for institution,root,id,integer,NaN,UNITID,NaN,NaN,IPEDS,Yes,NaN
1,8-digit OPE ID for institution,root,ope8_id,string,varchar(10),OPEID,NaN,NaN,IPEDS,Yes,NaN
2,6-digit OPE ID for institution,root,ope6_id,string,varchar(10),OPEID6,NaN,NaN,IPEDS,Yes,NaN
3,Institution name,school,name,autocomplete,fulltext,INSTNM,NaN,NaN,IPEDS,Yes,NaN
4,City,school,city,autocomplete,varchar(200),CITY,NaN,NaN,IPEDS,Yes,NaN

#### Extract and save all unique values in the first column

In [27]:
var_names = inst_dict["VARIABLE NAME"].fillna("").astype(str)
descriptions = inst_dict.iloc[:, 0].fillna("").astype(str)

dict_output_path = Path("../data/processed/dict_elements.txt")

with open(dict_output_path, "w", encoding="utf-8") as f:
    for var, desc in zip(var_names, descriptions):
        if var.strip():
            f.write(f"{var}: {desc}\n")

print(f"Wrote {len(var_names)} entries to {dict_output_path}")

Wrote 3567 entries to ..\data\processed\dict_elements.txt

### Extract Name of Data Element0 & Variable Name Columns

In [38]:
scorecard_dict = inst_dict.iloc[:, [0, 5]]
scorecard_dict = scorecard_dict.dropna()
print(scorecard_dict.head())

             NAME OF DATA ELEMENT VARIABLE NAME
0         Unit ID for institution        UNITID
1  8-digit OPE ID for institution         OPEID
2  6-digit OPE ID for institution        OPEID6
3                Institution name        INSTNM
4                            City          CITY

### Save the data

In [39]:
output_path = Path("../data/processed/scorecard_dict.csv")
scorecard_dict.to_csv(output_path, index=False)
print(f"Saved merged dataset to {output_path}")

Saved merged dataset to ..\data\processed\scorecard_dict.csv